<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <meta name="csrf-token" content="your_csrf_token_here">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 상세페이지</title>
    <!-- Google Fonts 링크 -->
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../../hicc summer project/css/글열람.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        h1 {
            font-family: "Hahmlet", serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
        }


        .write-1, .write-2, h2, h3, p, ul, li, button, label {
            font-family: "Hahmlet", serif;
        }
    </style>
</head>
<body>
    <nav>
        <i class="fas fa-arrow-left"></i></button>
        <h7>샐러드 먹기 챌린지</h7>
    </nav>


        <hr>
        <img src="../../hicc summer project/img/샐러드.jpg" alt="샐러드" style="max-width: 100%; height: auto;">
        <div class="participants">
            <h1>샐러드 먹기 챌린지</h1>
            <h7>2,332명 참여중</h7>
            <div class="bookmark-container">
                <i id="bookmark-icon" class="far fa-bookmark bookmark"></i>
                <!-- 하트 아이콘 -->
                <i id="like-icon" class="far fa-heart like"></i>
            </div>
        </div>
        <hr><hr>
    <div class="post">
        <h2>요즘 핫한<br>샐러드<br><br>왜 먹어야할까?</h2>
        <p><strong>먹으면 건강해짐</strong><br>하하<br><br><br><br><br><br><br>!!!!!!</p>

        <div class="button">
            <button type="button"><a href="챌린지 참가완료.html"><h3>참가하기</h3></a></button>
        </div>
    </div>



    <!-- 외부 자바스크립트 파일 로드 -->
    <script src="글열람.js"></script>
</body>
</html>