<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <style>
    </style>
    <link rel="stylesheet" href="../css/아이디찾기.css">
</head>
<body>
    <div class="container">
        <h2>아이디 찾기 / 비밀번호 찾기</h2>
        <h3>
            <a href="#"><span id="idsearching">아이디 찾기</span><a>
            <span id="passwordsearching">비밀번호 찾기</span>
        </h3>
        <ul>
            <li>
                <input type="text" id="phoneNumber" placeholder='휴대전화 번호 입력("-"제외)'>
                <button type="submit" id="loginbtn">인증번호 전송</button>
            </li>
            <li>
                <input type="text" id="okNumber" placeholder='인증번호 입력'>
                <button type="submit" id="okbtn">확인</button>
            </li>
            <li>
                <button type="submit" id="idsearching2">아이디 찾기</button>
            </li>
        </ul>
    </div>
</body>
</html>