<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="your_csrf_token_here">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>챌린지 참가완료</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&family=Orbit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../hicc summer project/css/글열람.css">
<style>
   body, h1, a, button {
    font-family: 'Hahmlet', serif; /* 폰트 적용 */
}



body, html {
    font-family: "Hahmlet", serif;
}

.write-1, .write-2, h2, h3, p, ul, li, button, label {
    font-family: "Hahmlet", serif;

}

</style>
</head>

<body>
    <h1>어떤 챌린지를 만들고 싶나요?</h1>
    <div class="box2">
        <h2>장기 챌린지</h2>
        <p>꾸준한 습관을 만들 수 있어요!</p>
        <div class="frame">
          <a href="챌린지 생성 상세(장기).html">
              <button class="custom-btn btn-1">
                  만들러 가기
              </button>
    </div></div>
    <div class="box2">
        <h2>단기 챌린지</h2>
        <p>재미있는 도전을 사람들과 나눠봐요!<br>
            (춤, 노래, 먹기 등등...)</p>
        <div class="frame">
          <a href="챌린지 생성 상세.html">
              <button class="custom-btn btn-1">
                  만들러 가기
              </button> </div></div>
</body>
</html>