<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>email 회원가입</title>
    <link rel="stylesheet" href="../css/email회원가입.css">
</head>
<body>
    <div class="container">
        <h2>회원가입</h2>
        <form>
            <fieldset>
                <label><input type="radio" name="sign" value="email">email로 회원가입</label>
            </fieldset>
            <fieldset>
                <label><input type="radio" name="sign" value="phoneNumber">전화번호로 회원가입</label>
            </fieldset>
            <button type="submit">가입하기</button>
    </div>
</body>